<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Temukan restoran yang sesuai dengan selera Anda! Berbagai suasana dan menu makanan yang berbeda akan membuat Anda bahagia!">
  <meta name="theme-color" content="#224187"/>
  <title>Eatphoria</title>
</head>
<body>
  <a href="#list" class="skip-link">Skip to content</a>
  <header class="header">
    <div class="header__group flex">
      <h1 class="header__title">Eatphoria</h1>
      <a href="#" id="bun" class="header__hamburger" aria-label="navigation-menu">☰</a>
    </div>
    <nav class="header__nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://maulana-dimyati.vercel.app/">About</a></li>
      </ul>
    </nav>
  </header>
  <main class="main"></main>
  <footer class="footer"></footer>
</body>
</html>
